body{
	padding-top: 50px;
	position: relative;
	overflow-x: hidden;
}

.anchor{
	position: relative;
	top: -50px;
	height: 0;
}

.navbar {
	background-color: white;
}

.nav.navbar-nav li a {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: black;
}

.nav.navbar-nav li a:hover,  .nav.navbar-nav .active a:hover, .nav.navbar-nav .active a:focus{
	color: grey;
	background-color: white;
} 

.nav.navbar-nav .active a, .nav.navbar-nav .active a{
	color: grey;
	background-color: white;
}

.navbar .navbar-brand{
	color: black;
}

@media screen and (min-width: 768px) {
	.navbar-nav {
		display:table;
		width:100%;
		margin: 0;
	}
	.navbar-nav > li {
		float:none;
		display:table-cell;
		text-align:center;
	}
}

.large-container{
	height: 85vh;
	padding: 0;
	overflow: hidden;
	
}

.home {
	background: linear-gradient(rgba(30, 136, 229, .55) 100%, rgba(30, 136, 229, .55) 100%), linear-gradient(rgba(229, 57, 53, .5) 100%, rgba(229, 57, 53, .5) 100%), url("res/home.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 85vh;
	background-blend-mode: difference, color;
}

.tech {
	background: linear-gradient(rgba(244, 67, 54, 1) 100%, rgba(244, 67, 54, 1) 100%), linear-gradient(rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%), url("res/tech.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 85vh;
	background-blend-mode: multiply, hue;
}

.gaming {
	background: linear-gradient(rgba(33, 150, 243, 1) 100%, rgba(33, 150, 243, 1) 100%), linear-gradient(rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%), url("res/gaming.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 85vh;
	background-blend-mode: multiply, hue;
}

.events {
	background: linear-gradient(rgba(139, 195, 74, 1) 100%, rgba(139, 195, 74, 1) 100%), linear-gradient(rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%), url("res/events.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 85vh;
	background-blend-mode: multiply, hue;
}

.outreach {
	background: linear-gradient(rgba(255, 235, 59, 1) 100%, rgba(255, 235, 59, 1) 100%), linear-gradient(rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%), url("res/outreach.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	height: 85vh;
	background-blend-mode: multiply, hue;
}

.information {
	background-color: #ffffff;
}

.overlay-container {
	width: 50vw;
	height: 65vh;
	background-color: rgba(0, 0, 0, .55);
	margin: 10vh 10vh;
	padding: 5vh 5vw;
	color: white;
	position: relative;
}

.overlay-container h2{
	font-family: 'Bree Serif', serif;
	color: white;
	font-size: 10vw;
}

.overlay-container p{
	font-family: 'Roboto', sans-serif;
	font-size: 1vw;
}

.overlay-container a{
	color: white;
}

.large-button {
	position: absolute;
	bottom: 10vh;
	text-align: center;
	border: 1px solid white;
    border-radius: 5vw;
	width: 30vw;
	height: 10vh;
	font-size: 1vw;
	line-height: 10vh;
}

.large-button:hover {
	background-color: rgba(255,255,255,0.2);
}

@media screen and (max-width: 1200px) {
	.overlay-container{
		width: 90vw;
		height: 75vh;
		margin: 5vh 5vw;
	}
	.overlay-container p{
		font-size: medium;
	}
	.large-button {
		width: 80vw;
		font-size: small;
	}
}

.fa {
	margin-left:1em;
}

.information-header {
	text-align: center;
}

.information-header h2 {
	font-family: Roboto;
	font-size: 3em;
	margin: 30px;
}

.committee-container {
	height: 250px;
}

.committee-container h3 {
	text-align: center;
}

.committee-container img {
	width: 130px;
	display: block;
	margin: auto;
	margin-top: 20px;
	border-radius: 50%;
}

.accenture img {
	border-radius: 0%;
	margin-top: 50px;
	width: 200px;
}

.fdm-kpmg img {
	border-radius: 0%;
	margin-top: 20px;
	width: 200px;
}

.committee-blank {
	height: 0;
}

.accenture{
	background-color: #f8f8f8;
}

.fdm-kpmg{
	background-color: #f8f8f8;
}

.logo-container {
	height: 85vh;
	background-repeat: no-repeat;
	background-image: url("res/logo.png");
	background-size: 25vw;
	background-position: center;
}

.hero-text-container {
	height: 85vh;
}

.hero-text-container h1 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	font-size: 10vw;
	color: white;
}

.hero-text-container p {
	color: white;
	font-size: 3.5vh;
	margin-top: 5vh;
}

.hero-overlay {
	background: rgba(0, 0, 0, 0.5);
	height: 45vh;
	width: 45vw;
	margin: 20vh 5vw;
	padding: 2vh 3vw;
}

.footer-container{
	overflow: hidden;
	height: 50px;
    line-height: 50px;
	background-color: lightgrey;
}

.footer-item {
   text-align: center;
   height: 25px;
}

.footer-container p{
	font-family: Roboto;
}

@media screen and (max-width: 768px) {
	.logo-container {
		background-size: 60vw;
	}
	.footer-container{
		overflow: hidden;
		height: 100px;
	}
}

.fa {
	font-size: 1.5em;
	margin-left:1em;
}

.information-container a{
	text-decoration: none;
	color: black;
}

.footer-container a{
	text-decoration: none;
	color: black;
}

.overlay-container a{
	text-decoration: none;
	color: white;
}